.currency-list-table-header {
  padding: 4px 9px;
}

.currency-list-label-available {
  float: left;
  margin-left: 2%;
  width: 15%;
}

.currency-list-label-code {
  float: left;
  width: 20%;
}

.currency-list-label-currency {
  float: left;
  width: 20%;
  margin-left: 20%;
}

.currency-list-available {
  float: left;
  width: 17%;
}

.currency-list-code {
  float: left;
  width: 20%;
}

.currency-list-currency {
  margin-left: 20%;
  width: 40%;
}
